# Ignorar directorios de caché de Python
__pycache__/
*.py[cod]

# Ignorar entornos virtuales
venv/
.env

# Ignorar archivos de configuración de IDE
.vscode/
.idea/

# Ignorar archivos de registro
*.log

# Ignorar archivos de base de datos
*.sqlite3

# Ignorar archivos de paquetes
*.egg
*.egg-info/
dist/
build/